<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a routerLink="/productos">Juego de dados</a>
  <a routerLink="/acercade">Acerca de...</a>
  <div style="border: 1px solid red">
    <router-outlet></router-outlet>
  </div>
</div>
<div>
  <h1>Administración de artículos</h1>
  <table border="1" *ngIf="hayRegistros(); else sinproductos">
    <tr>
      <td>Codigo</td>
      <td>Nombre</td>
      <td>Precio</td>
      <td>Borrar</td>
      <td>Seleccionar</td>
    </tr>
    <tr *ngFor="let producto of lista">
      <td>{{producto.codigo}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.precio}}</td>
      <td><button (click)="eliminar(producto.codigo)">Borrar=</button></td>
      <td><button (click)="mostrar(producto.codigo)">Seleccionar</button></td>
    </tr>
  </table>
  <ng-template #sinproductos><p>No hay productos</p></ng-template>
  <div>
    <h1>Datos</h1>
    <p>
      Descripcion:<input type="text" [(ngModel)]="prod.descripcion">
    </p>
    <p>
      Precio:<input type="text" [(ngModel)]="prod.precio">
    </p>
    <p><button (click)="nuevo()">Agregar</button>
    <button (click)="actualizar()">Modificar</button></p>
  </div>
</div>
